@import "../../../../assets/scss/variable.scss";

* {
  margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.password-container {
  margin: 0 auto;
  max-width: 80%;
  width: 1920px;
  align-self: center;
}

.password-sec-box {
  background-image: url("../../../../assets/images/password-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  display: flex;
  height: 788px;
}

.password-content-sec {
  .password-logo-sec {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 55px;

    .password-logo-img {
      width: 440.04px !important;
      height: 195.05px !important;
    }
  }
  .password-box {
    border: $login-card-border;
    border-radius: 10px;
    float: right;
    max-width: 420px;
    opacity: 1 !important;

    .card-content-sec {
      padding-bottom: 0px !important;
      padding: 26px !important;
    }
  }
  .welcome-txt {
    font-size: 30px !important;
    line-height: 41px !important;
    color: $color-black;
    font-family: OpenSansSemiBold;
    text-align: center;
  }
  .password-small-txt {
    font-size: 20px;
    line-height: 25px;
    color: $color-black;
    font-family: OpenSansRegular;
    text-align: center;
  }
}

.password-box-sec {
  padding: 31px;
}

.password-sec {
  padding-top: 20px;
  padding-bottom: 20px;
}
.password-txt {
  font-size: 16px !important;
  line-height: 22px !important;
  color: $color-black;
  font-family: OpenSansSemiBold;
}

.error-msg {
  color: red !important ;
}

.visible-icon {
  color: $color-black !important;
}
.password-login-sec-btn {
  text-align: center;
  padding-top: 40px;
  .password-login-btn {
    font-size: 20px !important;
    line-height: 27px !important;
    color: $color-white !important;
    font-family: OpenSansSemiBold !important;
    width: 288px !important;
    height: 41px !important;
    text-align: center;
    border-radius: 25px;
    background-color: $color-sky-pink !important;
  }
}
