@import "../../../../assets/scss/variable.scss";

* {
  margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.password-container {
  margin: 0 auto;
  max-width: 80%;
  width: 1920px;
  align-self: center;
}

.password-sec-box {
  background-image: url("../../../../assets/images/password-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  display: flex;
  height: 788px;
}

.password-content-sec {
  .password-logo-sec {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 55px;

    .password-logo-img {
      width: 440.04px !important;
      height: 195.05px !important;
    }
  }
  .password-box {
    border: $login-card-border;
    border-radius: 10px;
    background-color: $color-white;
    float: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
