@import "../../../../../assets/scss/variable.scss";

* {
  margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.phone-component-sec {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.phone-no-component {
  margin-bottom: 60px !important;
  margin-top: 40px !important;
}
.react-tel-input {
  text-align: center;

  .form-control {
    border: none !important;
    border-bottom: $border !important;
    border-radius: 0px !important;
    width: 203px !important;
    padding-left: 0px !important;
    margin-left: 123px !important;
  }
  .flag-dropdown {
    border: none !important;
    border-bottom: $border !important;
    border-radius: 0px !important;
    left: 17% !important;
    // right: 104% !important;
    margin-right: 0px !important;
    // width: 45px !important;
    background-color: transparent !important;

    .country-list {
      color: black !important;
    }
  }
  .selected-flag {
    padding: 0px !important;
    .arrow {
      border: 1px solid black !important;
      border-width: 0 2px 2px 0 !important;
      display: inline-block !important;
      padding: 3px !important;
      transform: rotate(45deg) !important;
      -webkit-transform: rotate(45deg) !important;
      top: 0% !important;
      margin-top: 0px !important;
      margin-bottom: 20px !important;
    }
  }
}
