@import "../../../../assets/scss/variable.scss";

* {
  margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.use-app-container {
  margin: 0 auto;
  max-width: 80%;
  width: 1920px;
  align-self: center;
}

.use-app-sec {
  background-image: url("../../../../assets/images/use-app-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  //   height: auto;
  //   display: flex;
  height: 797px;
  width: 1598px;
  //   width: 100% !important;
  //   height: 100% !important;
}

.use-app-content-sec {
  padding-top: 28px;
  .use-app-logo-sec {
    padding: 0px !important;
    padding-top: 100px !important;
    // display: flex;
    // justify-content: flex-start;
    // margin-bottom: 55px;

    .use-app-logo-img {
      width: 416.88px !important;
      height: 135.11px !important;
    }
  }
  .use-app-card {
    border: $login-card-border !important;
    border-radius: 10px !important;
    // background-color: $color-white;
    float: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // padding: 36px !important;
    // max-width: 458px !important;
    height: 600px !important;
    width: 630px !important;
  }
}

.use-app-card-content {
  padding: 20px !important;
  padding-left: 37px !important;
  .head-txt {
    font-size: 30px !important;
    line-height: 41px !important;
    color: $color-black;
    font-family: OpenSansSemiBold;
    padding-bottom: 20px;
  }
  .content-sec {
    padding-bottom: 15px;
    .head-breadcrumbs {
      font-size: 20px;
      line-height: 25px;
      font-family: OpenSansRegular;
      color: #707070 !important;
      padding-bottom: 5px;
    }
    .select-head {
      font-size: 16px;
      line-height: 22px;
      color: $color-black;
      font-family: OpenSansSemiBold;
    }
  }
  .use-app-buttons {
    font-size: 20px;
    line-height: 27px;
    font-family: OpenSansSemiBold;
    color: $color-white;
    border-radius: 25px;
  }
  .next-btn {
    width: 173px !important;
    height: 50px !important;
    background-color: #59d09d !important;
    margin-right: 20px;
  }
  .continue-btn {
    width: 358px !important;
    height: 50px !important;
    background-color: $color-black !important;
  }
}

.use-app-btn-sec {
  padding-top: 225px;
}

.chk-txt-group {
  display: flex;
  justify-content: end;
  .group_chk_label {
    margin: 0px !important;
    padding-left: 401px;
  }
  .group-chk {
    margin-top: -37px;
    &.Mui-checked {
      color: $color-sky-pink !important;
    }
  }
}
